<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595835267173-n7vmn4281buuceh3mpls9hm5efi07cie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595835267173-n7vmn4281buuceh3mpls9hm5efi07cie</string>
	<key>API_KEY</key>
	<string>AIzaSyBA_wsH0ewCOU06PeJbp__yfB91I2xqFwc</string>
	<key>GCM_SENDER_ID</key>
	<string>595835267173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eHostel</string>
	<key>PROJECT_ID</key>
	<string>e-hostel-6d580</string>
	<key>STORAGE_BUCKET</key>
	<string>e-hostel-6d580.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595835267173:ios:e72455978d2c0c80</string>
	<key>DATABASE_URL</key>
	<string>https://e-hostel-6d580.firebaseio.com</string>
</dict>
</plist>